
  <ion-header-bar class="bar-dark" id="mainHead">
    <h1 class="title">开奖走势</h1>
  </ion-header-bar>
  <ion-content id="mainContent">
      <ul id="trends">
         <div class="trends_title" ng-if = "item.list.length>0" ng-repeat="item in items track by $index">
           <p class="trends_market">
             <span class="market">{{item.marketName}}</span>
             <i class="more" ng-click="moreSeek(item)">查看更多</i>
           </p>
           <ul>
             <li ng-repeat="arr in item.list track by $index">
               <p>第{{arr.drawNoStart}}-{{arr.drawNoEnd}}期</p>
               <div ng-if ="arr.result.length ==5">
                 <span class="kono"  ng-repeat="result in arr.result track by $index">{{result}}</span>
               </div>
               <div ng-if ="arr.result.length ==3" >
                 <span style="background-image: url('img/common/s-dice-{{result}}.png')" class="k3d" ng-repeat="result in arr.result track by $index"></span>
                 <em class="sum">和值:{{arr.sum}}</em>
               </div>
             </li>
           </ul>
         </div>
      </ul>
  </ion-content>
 <!-- +arr.result.split("")[1]+arr.result.split("")[2]-->

