.fun{
  .tx{
    left: 1rem !important;
  }
  .listUL{
    width: 100%;
    .disable-pointer-events {
      span{
        position: absolute;
        pointer-events: none;
        margin-left: -8px;
        margin-top: -10px;
      }
    }
    .ballContent{
      .listTop{
        background-color: #fafafa;
        height: 2.5rem;
        padding: 0 0.5rem;
        overflow: hidden;
        border-top: 1px solid #e4e4e4;
        border-top: 1px solid #e4e4e4;
        .ballNumber{
          line-height: 2.5rem;
          font-size: 1.2rem;
          color: #464646;
          width: 6rem;
          float: left;
        }
        .ballType{
          line-height: 2.5rem;
          font-size: 0.9rem;
          color: #9d9d9d;
          float: left;
          span{
            width: 3rem;
            float: left;
            text-align: center;
            cursor: pointer;
          }
        }
        .clear{
          border-radius: 1rem;
          font-size: 0.92rem;
          color: #6879b5;
          background-color: #fff;
          text-align: center;
          float: right;
          border: 1px solid #e4e4e4;
          width: 4.5rem;
          height: 2rem;
          line-height: 1.85rem;
          margin-top: 0.25rem;
        }
        &.activated{
          background-color: #6879b5 !important;
          color: #ffffff !important;
          transition: 0.5s;
        }
      }
      .ListBottom{
        overflow: hidden;
        border-top: 1px solid #e4e4e4;
        padding-top: 0.75rem;
        .listLeft{
          float: left;
          width: 85%;
          .list1Main{
            padding-left: 1rem;
            .list1-tx{
              width: 6rem;
              height: 3rem;
              line-height: 3rem;
              border-radius: 2rem;
              margin-top: 0.24rem;
              float: left;
              margin-right: 1rem;
              text-align: center;
              border: 1px solid #e4e4e4;
              color: #6879b5;
              font-size: 1rem;
              cursor: pointer;
            }
          }
          .list6{
            overflow: hidden;
            border-right: 1px solid #eee;
            li{
              margin-top: 0.8rem;
              width: 3.5rem;
              height: 3.5rem;
              line-height: 3.5rem;
              border: 0.1rem solid #e7e9f3;
              text-align: center;
              border-radius: 50%;
              display: inline-block;
              color: #6879b5;
              margin-left: 0.85rem;
              margin: 0.4rem 0.5rem;
            }
          }
        }
        .random_select{
          float: right;
          font-size: 1.2rem;
          color: #6879b5;
          border: 1px solid #e4e4e4;
          width: 2.4rem;
          text-align: center;
          height: 7rem;
          line-height: 2.5rem;
          margin-top: 0.8rem;
          margin-right: 1rem;
          border-radius: 0.5rem;
          padding: 1rem 0;
          cursor: pointer;
        }
        &.activated{
          background-color: #6879b5 !important;
          color: #ffffff !important;
          transition: 0.5s;
        }
      }
    }
  }
  .list1TX{
    width: 100%;
    height: 3rem;
    li{
      width: 33%;
      float: left;
      text-align: center;
      height: 3rem;
      span{
        display: inline-block;
        width: 6.5rem;
        height: 2.5rem;
        line-height: 2.5rem;
        border: 1px solid #e7e9f3;
        border-radius: 1.5rem;
        color: #6879b5;
        margin-top: 0.24rem;
      }
    }
    .list1-num{
        margin-top: 1rem;
        float: left;
        margin-left: 0.8rem;
        width: 2.3rem;
        height: 2.3rem;
        border: 0.1rem solid #e7e9f3;
        text-align: center;
        line-height: 2.1rem;
        border-radius: 50%;
        color: #6879b5;
    }
  }

  .listUL1{
    .ballContent{
      width: 100%;
      float: left;
      margin-bottom: 1rem;
      height: auto !important;
    }
  }
}
