<ul class="listUL">
  <li class="ballContent">
    <div class="listTop">
      <div class="ballNumber">
        <span>{{playName}}</span>
      </div>
    </div>
    <div class="ListBottom">
      <ul class="list7">
        <li ng-repeat="ball in  ballList track by $index" >
          <div class="listBall" ng-click="allSelectBall(ball.key[0])">
            <div ng-repeat="key in ball.key[0].split('') track by $index">
              <i class="b-dice-1" ng-if="key == '1'"></i>
              <i class="b-dice-2" ng-if="key == '2'"></i>
              <i class="b-dice-3" ng-if="key == '3'"></i>
              <i class="b-dice-4" ng-if="key == '4'"></i>
              <i class="b-dice-5" ng-if="key == '5'"></i>
              <i class="b-dice-6"  ng-if="key == '6'"></i>
            </div>
          </div>
          <div class="listBall2" ng-repeat="value in ball.value track by $index" ng-click="selectBall(value)">
            <div ng-repeat="dice in value.split('') track by $index">
              <i class="b-dice-1" ng-class="{'b-dice-1-active':betRuleInstance.result[0].indexOf(value.toString()) >= 0}" ng-if="dice == '1'"></i>
              <i class="b-dice-2" ng-class="{'b-dice-2-active':betRuleInstance.result[0].indexOf(value.toString()) >= 0}" ng-if="dice == '2'"></i>
              <i class="b-dice-3" ng-class="{'b-dice-3-active':betRuleInstance.result[0].indexOf(value.toString()) >= 0}" ng-if="dice == '3'"></i>
              <i class="b-dice-4" ng-class="{'b-dice-4-active':betRuleInstance.result[0].indexOf(value.toString()) >= 0}" ng-if="dice == '4'"></i>
              <i class="b-dice-5" ng-class="{'b-dice-5-active':betRuleInstance.result[0].indexOf(value.toString()) >= 0}" ng-if="dice == '5'"></i>
              <i class="b-dice-6" ng-class="{'b-dice-6-active':betRuleInstance.result[0].indexOf(value.toString()) >= 0}" ng-if="dice == '6'"></i>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </li>
</ul>
